<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NOVALaunchMode</key>
	<string>development</string>
	<key>NOVAUIMode</key>
	<string>webview</string>
	<key>NOVAProjectRoot</key>
	<string>/Volumes/ELEVUM/Projekte/joachim/NOVA</string>
	<key>NOVANodeBin</key>
	<string>/usr/local/bin/node</string>
	<key>NOVAWebHost</key>
	<string>127.0.0.1</string>
	<key>NOVAWebPort</key>
	<integer>3100</integer>
	<key>NOVAStartAtLogin</key>
	<false/>
</dict>
</plist>
